<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marti.monapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MenuActivity"
            android:label="Jeux" />
        <activity
            android:name=".activities.jeux.BatNavActivity"
            android:label="Bataille Navale" />
        <activity
            android:name=".activities.jeux.DamesActivity"
            android:label="Dames" />
        <activity
            android:name=".activities.jeux.ChevauxActivity"
            android:label="Chevaux" />
        <activity
            android:name=".activities.jeux.Puissance4Activity"
            android:label="Puissance 4" />
        <activity
            android:name=".activities.jeux.SudokuActivity"
            android:label="Sudoku" />
        <activity
            android:name=".activities.jeux.EchecsActivity"
            android:label="Echecs"></activity>
        <activity
            android:name=".activities.jeux.MoulinActivity"
            android:label="Moulin"></activity>
    </application>

</manifest>